@charset "UTF-8";

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body{
    display:grid;
    justify-items: center;
    background-color: gray;
    justify-content: center;
    margin-top: 300px;
    width: 100%;
}
body h1{
    font-size: 30px;
}

form{
    display: flex;
    border-style: solid;
    flex-direction: column;
    border-color: black;
    background-color:lightskyblue;
    border-radius: 8px;
    font-weight: bold;
    
}
form input,form select{
    border-radius: 5px;
    border-style: groove;
}

.pValor{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2px;
}
form label{
    margin-right: 5px;
}

.opCalcular{
    display: inline-grid;
    justify-content: space-between;
    margin: 2px;
}

.bCalcular{
    margin: 2px;
}

.bCalcular:hover{
    background-color: darkgray;
    color: azure;
    transition-duration: 0.3s;
}