<head><link rel="stylesheet" href="/CSS/carrinho.css"></head>
<body>
    <h1>CARRINHO DE COMPRAS</h1>
    <section class="remedio">
        {{#each compras}}
        <div class="bloco">
            <div class="texto">
                <span>Droga: </span>
                <span>{{droga}}</span>
            </div>
            <div class="texto">
                <span>Nome: </span>
                <span>{{nome}}</span>
            </div>
            <div class="texto">
                <span>End: </span>
                <span>{{end}}</span>
            </div>
            <div class="texto">
                <span>E-mail: </span>
                <span>{{email}}</span>
            </div>
        </div>
        {{/each}}

    </section>

</body>