<head>
      <link rel="stylesheet" href="/CSS/home.css">
</head>
<body><section class="chamado">
        <h1>CHEGA DE SER FRANGO, AGORA É SUA HORA DE BRILHAR!</h1>
        <h1>NÃO PERCA TEMPO E REALIZE SEU PEDIDO AGORA</h1>
        <button><a href="/pedido" >FAZER PEDIDO</a></button>
</section>
</body>