<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sua Receita</title>
    <link rel="stylesheet" href="/CSS/style.css">
</head>

<body>
    <header>
        <div class="slogam">
            <h1>AQUI VOCÊ CRESCE</h1>
        </div>
        <section class="barra_titulo">
            <img class="banner_topo" src="/public/IMG/whey_protein.jpg">
        </section>
        <nav>
            <ul>
                <li><a href="/">Início</a></li>
                <li><a href="/pedido">Realizar Pedidos</a></li>
                <li><a href="/carrinho">Carrinho</a></li>
            </ul>
        </nav>
    </header>
    <hr>
    {{{body}}}
    <footer>
        <h2>Eu tenho todo o direito</h2>
    </footer>
</body>
</html>