@charset "UTF-8";

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /*height: 100%;*/
    font-weight: bolder;

}

body {
    margin: 0px;
}

h1 {
    text-align: center;
    background-color: darkgrey;
    margin-top: 0px;
    height: 2em;
    padding-top: 20px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-left: 0px;
    border-right: 0px;

}

h2 {
    margin: 20px;
}

#sobreCurso {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(169, 169, 169);
    margin: 5px;
}

#semestre {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: darkgray;
    margin: 5px;
}

#disciplinas {
    border-color: rgb(0, 0, 0);
    border-style: solid;
    background-color: rgb(201, 201, 201);
    margin: 5px;
    padding-top: 10px;
    text-shadow: #000 0.5px 0.5px, #000 0.5px 0.5px, #000 0.5px 0.5px, #000 0.5px 0.5px;
}

p {
    text-align: justify;
    margin: 20px;
}

table, th, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    text-shadow: #000 0.2px 0.2px, #000 0.2px 0.2px, #000 0.2px 0.2px, #000 0.2px 0.2px;

}

th,tr, td {
    background-color: rgb(255, 255, 255);
}

th {
    background-color:rgb(199, 199, 199);
}